.container-menu-icon, .menu-icon{
    height: 30px;
}

.container-menu-icon {
    width: 100%;
}

.menu-icon {
    float: left;
}

.display-hidden {
    transition: .8s;
    margin-left: -100% !important;
}

.display-block {
    transition: .8s;
    margin-left: 0;
}

.menu {
    position: fixed !important;
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    box-shadow: black 0px 0px 10px 3px;    
}

.container-menu > .menu > .content-menu > .profile-pic-container {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 40px;
}

.container-menu {    
    margin: calc(var(--padding-container) * -1) 0px 0px  calc(var(--padding-container) * -1);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
}

.container-icon-menu {
    width: 40px;
    display: inline-block;
}

li.item-menu {
    list-style-type: none;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, .3);
    padding: 10px 40px;    
}

.container-menu > .menu > .content-menu > nav > ul > li > .link-router > .text {
    margin-left: 30px;
    vertical-align: super;
    color: var(--second-color);
}

.container-menu > .menu > .content-menu > nav > ul {
    padding: 0;
}


.link-router {
    text-decoration: none;
}