.enviar-mensagem {
    background-color: var(--second-color);
    margin-top: 10px;
}

.enviar-mensagem > .enviar{
    width: 20%;
    max-width: 100px;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
}

.enviar-mensagem > .inline {
    vertical-align: top;
}


.enviar-mensagem > .texto > .text-area,
.enviar-mensagem > .texto > .text-area:focus
{
    border: none;
}

.enviar-mensagem > .texto > .text-area {
    min-width: max-content;
    min-height: max-content;
    font-size: var(--font-small);
}

.enviar-mensagem > .texto{
    width: 80%;
}

.enviar-mensagem > .enviar,
.enviar-mensagem > .enviar > img,
.enviar-mensagem > .texto > .text-area
{
    max-height: 100%;
}