.button {
    position: relative;
    display: block;
    background-color: var(--main-color);
    border: var(--border-button);
    font-size: 20px;
    color: var(--second-color);
    padding: 12px;
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 12px;    
    border-radius: var(--border-radius);
    text-decoration: none;
}

.small-font {
    font-size: 14px !important;
}