.profile-pic-wrapper {
    margin: 0 auto;
    width: 100px;
}

.button-wrapper-perfil {
    margin: 40px 0 40px 0;
}

.button-profile-pic {
    margin: 0 0 20px 0;
}
.button-profile-pic > .escolher-arquivo {
    display: none;
}