.table-pesquisar-grupo {
    background-color: var(--second-color);
    min-width: 100%;
    min-height: 400px;
    display: block;
    box-sizing: border-box;
    border-bottom: solid 2px black;
    padding: 10px;
}
.table-pesquisar-grupo > thead {
    min-width: 100%;
    display: block;
    text-align: center;
    border: solid 0px 0px 2px 0px black;
    border-bottom: solid 2px black;
}

.table-pesquisar-grupo > thead > tr {
    width: 100%;
    display: block;
}

.table-pesquisar-grupo > thead > tr > th {
    text-align: center;
    display: inline-table;
    width: 49%;
    font-size: var(--font-medium);
}