.table-orientador {
    background-color: var(--second-color);
    width: 100%;
    margin-top: 20px;
    border-radius: var(--border-radius);
}

.table-orientador > .head {
    font-weight: bold;
    font-size: var(--font-medium);
}

.table-orientador > .body {
    text-align: center;
}

.card-orientador {
    position: absolute;
    background-color: var(--main-color);
    color: var(--second-color);
    font-size: var(--font-medium);
    border-radius: var(--border-radius);
    border: solid 1px var(--second-color);
    padding: 0px 50px;
}

.container-card-orientador {
    width: 100%;
    height: 100%;
    position: fixed;
}