.mensagem {
    width: 100%;
    background-color: var(--second-color); 
}

.mensagem > .imagem {
    width: 10%;
    border-radius: var(--profile-radius);
    border: solid 1px black;
}

.mensagem > .wrapper > .sender {
    font-size: var(--font-small);
    color: gray;
    margin-top: 15px;
}

.mensagem > .wrapper > .content > p{
    
    font-size: var(--font-small);
    color: black;
}

.mensagem > .inline {
    display: inline-block;    
    vertical-align: top;
}

.mensagem > .wrapper {
    max-width: 70%;
}

.mensagem > .imagem-wrapper {
    display: inline-block;
    width: 18%;
    margin: 5px 20px 5px 5px;
}