.text-span {
    display: block;
    font-size: var(--font-medium);
    color: var(--second-color);
    margin-top: 20px;
}

.container > .main {
    margin-top: 100px;
}

.centralize-span {
    text-align: center;
}