:root {
    --main-color: #4B367C /*white*/;
    --second-color: white /*rgb(149, 32, 25)*/;
    --border-radius: 5px;
    --profile-radius: 50%;

    --height-component-form: 100px;

    --font-large: 24px;
    --font-medium: 20px;
    --font-small: 14px;

    --border-button: solid 3px var(--second-color);

    --padding-container: 30px;
}

body {
    background-color: var(--main-color);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    padding: var(--padding-container);
}

input, textarea, label {
    font-size: var(--font-medium);
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

label, h2, p {
    color: var(--second-color);
}